/* Write your CSS here */
.image {
  height: 250px;
  width: 250px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
p {
  text-align: center;
}
